* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}
.body-text {
  display: grid;
  grid-template-columns: min(100%, 35em);
  justify-content: center;
  padding: 2rem 1rem;
}
